<button (click)="openDetail()">Abrir detalle</button>

<ddr-detail *ngIf="showDetail" (close)="closeDetail()">

  <h1 detail-title>Detalle ejemplo</h1>

  <div class="row" detail-content>
    <div class="col-12">
      <form>

        <div class="row form-group">
          <div class="col-12">
            <label for="field1">Campo 1</label>
            <input type="text" class="form-control" id="field1">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12">
            <label for="field2">Campo 2</label>
            <input type="text" class="form-control" id="field2">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12">
            <label for="field3">Campo 3</label>
            <input type="text" class="form-control" id="field3">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12">
            <button class="btn btn-block btn-primary" type="button">Guardar</button>
          </div>
        </div>



      </form>
    </div>
  </div>

</ddr-detail>