<div class="showcase">

  <div class="menu">
    <a [routerLink]="['/ddr-example']" >DDR example</a> | 
    <a [routerLink]="['/ddr-join-pipe']" >DDR Join Pipe</a> | 
    <a [routerLink]="['/ddr-spinner']" >DDR Spinner</a> | 
    <a [routerLink]="['/ddr-toast']" >DDR Toast</a> | 
    <a [routerLink]="['/ddr-click-outside']" >DDR Click Outside</a> | 
    <a [routerLink]="['/ddr-dropdown']" >DDR dropdown</a> | 
    <a [routerLink]="['/ddr-load-iframe']" >DDR Load iframe</a> |
    <a [routerLink]="['/ddr-configuration']" >DDR Configuration</a> |
    <a [routerLink]="['/ddr-detail']" >DDR Detail</a> |
    <a [routerLink]="['/ddr-block-list']" >DDR Block List</a>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>